$color-red: #ff033e;
$transition: 0.4s;
$color-black: #37383e;

.btn {
  transition: $transition;
  color: $color-red;
  background-color: transparent;
  border: 2px solid $color-red;
  border-radius: 100vmax;
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  display: inline-flex;
  line-height: 120%;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 28px;

  &:hover {
    background-color: $color-red;
    color: white;
  }
  &:disabled {
    border: 2px solid $color-black;
    color: $color-black;
  }
}
.link {
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  border: none;
  color: $color-black;
  text-decoration: underline;
  padding: 0;
  &:hover {
    color: $color-red;
    background-color: transparent;
  }
}
