.image {
  width: 100%;

  @media screen and (min-width: 770px) {
    width: 33%;
  }
}
.order {
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
  .prices {
    font-size: 28px;

    .actual {
      font-weight: 700;
      margin-right: 10px;
    }
    .old {
      color: #c8c8c8;
      text-decoration-line: line-through;
    }
  }
}
