/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/App.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.container {
  width: 100%;
}
.container .menu {
  padding: 40px 20px;
  margin-bottom: 40px;
  border-bottom: 5px solid #ff033e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .cards {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 24px 10px;
  gap: 24px 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 170px);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Card/Card.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__ySwWs {
  height: 100%;
  border: 1px solid rgba(51, 51, 51, 0.2);
  text-align: center;
}
.Card_card__ySwWs img {
  width: 100%;
}
.Card_card__ySwWs .Card_info__pTv4m {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  padding: 10px 10px 20px;
}
.Card_card__ySwWs .Card_info__pTv4m .Card_title__RpPyU {
  font-size: 18px;
  line-height: 1.2;
}
.Card_card__ySwWs .Card_info__pTv4m .Card_price__K_Gds {
  font-size: 24px;
  font-weight: 700;
}
.Card_card__ySwWs .Card_info__pTv4m .Card_controls__k_R0V {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/Button/Button.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.btn {
  transition: 0.4s;
  color: #ff033e;
  background-color: transparent;
  border: 2px solid #ff033e;
  border-radius: 100vmax;
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  display: inline-flex;
  line-height: 120%;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 28px;
}
.btn:hover {
  background-color: #ff033e;
  color: white;
}

.link {
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  border: none;
  color: #37383e;
  text-decoration: underline;
  padding: 0;
}
.link:hover {
  color: #ff033e;
  background-color: transparent;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Modal/Modal.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Modal_modal__l4yBn {
  height: 100vh;
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 99992;
  background-color: rgba(30, 30, 30, 0.6509803922);
}
.Modal_modal__l4yBn .Modal_inner__XIYx3 {
  background-color: white;
  z-index: 99994;
  width: 98%;
  height: 98%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
}
.Modal_modal__l4yBn .Modal_inner__XIYx3 .Modal_container__T5Dvn {
  overflow: hidden;
  height: 100%;
}
.Modal_modal__l4yBn .Modal_inner__XIYx3 .Modal_container__T5Dvn .Modal_iframe__dBB9T {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  margin-top: 40px;
}
.Modal_modal__l4yBn .Modal_inner__XIYx3 .Modal_container__T5Dvn .Modal_close__AOA14 {
  position: absolute;
  right: 10px;
  font-size: 50px;
}
