$color-red: #ff033e;

.page {
  position: "relative";
  padding-bottom: "30px";

  .container {
    width: 100%;

    .cards {
      width: 100%;
      margin: 0 auto;
      display: grid;
      gap: 24px 10px;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 170px);
    }
  }
}
